<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>37SignalsClientKey</key>
	<string>insert-client-key</string>
	<key>37SignalsClientSecret</key>
	<string>insert-client-secret</string>
	<key>37SignalsRedirectURI</key>
	<string>setup://your-callback-redirect-uri/right-here</string>
</dict>
</plist>
